<header class="header">
    <div class="container-fluid bg-primary">
        <div class="row py-2">
            <div class="col-12 d-flex justify-content-start">
                <div class="nav sentiment-nav h6 text-secondary">
                    <div class="nav-item position-relative">
                        <a class="nav-link pointer" [href]="['/old']" routerLinkActive="active">Old</a>
                    </div>
                    <div class="nav-item position-relative">
                        <a class="nav-link pointer" [href]="['/ngrx']" routerLinkActive="active">NgRx</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>